.text {
  font-family: "cambria";
  color: rgb(14, 150, 184);
}
.text2 {
  font-family: "cambria";
  color: rgb(14, 150, 184);
}

button {
  background-color: rgb(14, 150, 184);
  border: solid 3px rgb(0, 102, 255);
  margin: 5px;
  color: rgb(42, 30, 99);
}

body {
  background-color: white;
}

.text3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(14, 150, 184);
  border: solid 3px rgb(14, 150, 184);
}

.moveDown {
  margin-top: 5%;
}
